main{
    padding-top: 2rem;
    margin-top: 2rem;
    
}

.background{
    background: url("../images/plans-background.jpg") center/cover;
    filter: grayscale(30%);
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: -1;
}

.package{
    border:4px solid #0e4f1f;
    margin: 3rem 0;
    box-sizing: border-box;
    width: 80%;
    padding: 2rem 2rem;
    position: relative;
    border-left: none;
    
}


.package:hover,
.package:active{
    border-color: #ff5454;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

.package a{
    text-decoration: none;
    color: inherit;
    display: block;
    padding: 2rem;
}

.package__subtitle{
    color: #979797;
}

.package__badge{
    position: absolute;
    top: 0;
    right: 0px;
    margin: 1.25rem;
    font-size: 0.75rem;
    color: white;
    background-color: #ff5454;
    padding: 0.5rem;
   
}

.package__info{
    border: 1px solid darkgreen;
    background: white;
    padding: 1rem;
    font-size: 1.25rem;
    color:darkgreen;
}

.clearfix{
    clear: both;
}

#plus{
    background-color: rgba(213, 255, 220, 0.95);
    
}

#free{
    background-color: rgba(234, 252, 237,0.95);
    float: right;
    border-right: none;
    text-align: right;
    border-left: 4px solid #0e4f1f;
}

#free:hover,
#free:active{
    border-left-color: #ff5454;
}

#premium{
    background-color: rgba(14, 79, 31,0.95);
}
#premium package__title{
    color:black;
}

#premium package__title{
    color:black;
}

.package__premium{
    background-color: #0e4f1f;
}

#premium .package__title{
    color: white;
}

#premium .package__subtitle{
    color: #bbb;
}

@media(min-width: 40rem){
    main{
        margin: 3rem auto;
        max-width: 1500px;
    }
}

@media(min-width: 1500px){
    .package{
        border-left: 4px solid #0e4f1f;   
    }

    #free{
        border-right: 4px solid #0e4f1f;
    }

    #free:hover,
    #free:active{
        border-right-color: #ff5454;
    }
}


